html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 560px;
    margin: auto;
}


/* Styles for the Score Panel */
.score-panel {
    text-align: left;
    margin-bottom: 10px;
}

.stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: red;
}

.score-panel .lost-stars {
    color: lightgray;
}

.stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .moves {
    margin-left: 2em;
}

.score-panel .times {
    margin-left: 2em;
}

.restart {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-left: 2em;
}

@media screen and (max-width: 400px) {
    .restart {
        display: block;
        float: none;
        margin: 0 auto;
        width: 80px;
    }
}

/* Styles for the deck of cards */
.deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 560px;
    height: 88vh;
    max-height: 560px;
    padding: 16px;
    margin: auto;
    border-radius: 8px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    max-width: 115px;
    height: 19vh;
    max-height: 115px;
    border-radius: 8px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card.open {
    background: #02b3e4;
    cursor: default;
    font-size: 33px;
}

.card.match {
    background: #02ccba;
}

.card.not-match {
    background: red;
}

/*
 * Styles for the Final Score
 */
.final-score {
    position: absolute;
    top: -1000px;
    bottom: auto;
    left: auto;
    right: auto;
    z-index: 10;
    text-align: center;
    max-width: 560px;
    min-width: 300px;
    padding: 32px 10%;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.85);
}

.final-score.show {
    top: auto;
}

.final-score .lost-stars {
    display: none;
}

.play-again {
    width: 160px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: rgba(2, 204, 186, 0.85);
    cursor: pointer;
}

footer {
    margin: 20px auto;
}
